/county_narrow.json
/county.json
/county_narrow.csv
/tests/bad_results_01.csv
/tests/differential_results.json
/county_no_geom.json
/county_pop_dense_10.json
/county_pop_dense_20.json
/county_pop_dense_30.json
/county_pop_dense_many.csv
/county_pop_dense_many.json
/numpy_county_dense_14.json
/numpy_county_dense_many.json
/pct_trump_buckets.csv
/pct_trump_buckets_cuda.csv
